
@{
    ViewData["Title"] = "AccesoDenegado";
}
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="EstilosMenús.css">
    <title>Acceso Denegado</title>
</head>
<body style="background-color:darkcyan">
    <div >
        <div style="width:70%; margin-left:auto; margin-right:auto; background-color:whitesmoke; padding:25px">
            <h1>AccesoDenegado</h1>
            <h3>Si ves esto aun no inicias sesión y es necesario para escanear tu código QR</h3>
            Volver al inicio de sesión de Usuario ----><a href="">Inicio de sesión</a>
        </div>
    </div>
</body>
</html>