
@{
    ViewData["Title"] = "Regresar";
}

<h1>Regresar</h1>

<form asp-action="Confirmacion" method="get">
<h1>SU SOLICITUD DE PRESTAMO FUE GENERADA Y ESTA PENDIENTE DE APROBACION
    <br /> PRESIONA EL BOTON PARA REGRESAR</h1>
<button type="submit" class="btn btn-primary">Regresar</button>
</form>