@model int
@{
    ViewData["Title"] = "Room";
}

<div class="row">
    <div class="col-12">
        <input type="text" placeholder="Usuario" id="user" value="" readonly />
        <input type="text" placeholder="texto" id="message" name="message" />
        <button id="btnSend">Send</button>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div id="messages">
        </div>
    </div>
    <div class="col-6">
        <div id="notifications">
        </div>
    </div>
</div>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/Home").build();
    connection.start().then(() => {
        connection.invoke("AddToGroup", "@Model")
    }).catch((e) => console.error(e));

    document.getElementById("btnSend").addEventListener("click", (event) => {

        let room = "@Model";
        let user = document.getElementById("user").value;
        let message = document.getElementById("message").value;

        connection.invoke("SendMessage", room, user, message)
            .catch((err) => console.error(err.toString()));
        document.getElementById("message").value = "";
        document.getElementById("message").focus();
        event.preventDefault();
    })

    connection.on("ReceiveMessage", (user, message) => {
        var message = "<div><b>" + user +""+""+ "dijo </b>"+""+"" + message + "</div>";
        document.getElementById("messages").innerHTML =
            message + document.getElementById("messages").innerHTML;
    });
</script>